@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    color: #000000;
    word-wrap: break-word;
}

.App,
.StockItem {
    width: 100%;
    height: 100%;
    /* margin: 5%; */
}

.navbar {
    background-color: #444;
}

.navbar-collapse {
    position: absolute;
    top: 54px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    transition: right 0.3s ease;
    right: -100%;
}

.navbar-collapse.show {
    right: 0;
    -webkit-transition: right 0.3s ease-in;
    -o-transition: right 0.3s ease-in;
    -moz-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
    width: 10%;
    height: 100vh;
    background-color: #444;
}

label {
    float: left;
}

.stock-submit {
    float: right;
}

.sideNav-content {
    padding-top: 3rem;
}

h6,
.navbar-light .navbar-brand,
.far.fa-paper-plane,
.fas.fa-minus-circle,
.stock-item {
    color: #ffffff !important;
}

.fas.fa-minus-circle,
.stock-item {
    display: inline-block;
}

.fas.fa-minus-circle {
    display: inline-block;
    top: 0.25rem;
    margin-inline-start: 0.5rem;
}

.stock-item {
    padding-left: 1rem !important;
}

.create-item {
    display: flex;
    cursor: pointer;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

.HomeNews {
    left: 8.33%
}

.HomeNews-item {
    display: -webkit-inline-flex;
    flex-flow: row wrap;
    min-height: 594px;
    max-height: 594px;
}

.card-img-top {
    min-height: 426px;
    max-height: 426px;
}

.index-data {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    width: 80%;
}

.index_data-items {
    float: left;
    display: table;
    width: 100%;
    table-layout: fixed;
    min-height: 1px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.index_data-items {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.index_data-item {
    font-family: MetricWeb, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    opacity: 1;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    display: table-cell;
}

li.index_data-item {
    text-align: -webkit-match-parent;
}

.index_data-item__link {
    color: inherit;
    border-bottom: 0;
}

.index_data-item__name {
    margin-right: 5px;
}

.index-data__item__change--up {
    border-color: #9cd321;
    color: #9cd321;
}

.index-data__item__change--down {
    border-color: #ee2f01;
    color: #ff767c;
}

.index-data__item__change {
    border: 1px solid #fff1e5;
    border-radius: 3px;
    padding: 0 4px;
}

@media (min-width: 61.25em) {
    .index_data-items {
        width: 80%;
    }
}